

<div class="row">
	<div class="col-md-6">
		<strong>Din Stress Tests</strong>
	</div>
	<div class="col-md-6 text-right">
		<%= link_to('Try a new stress test', stresstest_path(company_id: @company._id), \
						{ :class => "btn btn-sm btn-primary" }) %>
	</div>
</div>

<table class="table table-striped table-tight">
	<thead>
		<tr>
			<th>Test result</th>
			<th>Test Dato</th>
			<th></th>
		</tr>	
	</thead>
	<tbody>
		<% @tests.desc(:created).each do |t| %>
			<tr>
				<% if t.test_result == "high_stress_high_env" %>
					<% label = "label-danger" %>
				<% elsif t.test_result == "high_stress_low_env"%>
					<% label = "label-warning" %>
				<% else %>
					<% label = "label-success" %>
				<% end %>

				<td><span class="label <%= label %>"><%= t.test_result %></span></td>

				<td><%= time_ago_in_words(t.created) %> siden</td>
				<td class="text-right">
					<%= link_to('Vis', '/clients/stress_test/' << t._id, \
												:class=>'btn btn-sm btn-primary') %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

