<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Stress niveau</h3>
  </div>
  <div class="panel-body">

		<% stress = @current_diary.stress || Diaries::Stress.new %>
		<table class="table table-panel">
			<thead>
				<th class="cell-1st">Tidspunkt</th>	
				<th class="cell-2nd">Stress</th>	
				<th class="cell-3rd">Kommentar</th>	
			</thead>
			<tbody>
				<tr>
					<td>Kl. 10</td>
					<td><%= stress.level_1 || '--' %></td>
					<td><%= stress.level_1_comment || '--' %></td>
				</tr>
				<tr>
					<td>Kl. 14</td>
					<td><%= stress.level_2 || '--' %></td>
					<td><%= stress.level_2_comment || '--' %></td>
				</tr>
				<tr>
					<td>Kl. 18</td>
					<td><%= stress.level_3 || '--' %></td>
					<td><%= stress.level_3_comment || '--' %></td>
				</tr>
			</tbody>
		</table>

  </div>
</div>