<div class="row">
	<div class="col-md-6">

		<h4>Dagbog</h4>

		<%= render "therapists/client/diary/current_stress" %>
		<%= render "therapists/client/diary/current_sleep" %>
		<%= render "therapists/client/diary/current_exercise" %>

	</div>
	<div class="col-md-6">

		<div class="clearfix">
			<ul class="pager pager-small pull-right">
				<li class="previous">
					<%= link_to('/therapists/client/' << @client._id.to_s << '?view=diary&date=' << (@current_diary.date - 1).to_s, { :title => "En dag tilbage" }) do %>
					<i class="fui-arrow-left"></i>
					<% end %>
				</li>

				<li class="current"><%= @current_diary.date.strftime("%d %B %Y") %></li>

				<li class="next">
					<%= link_to('/therapists/client/' << @client._id.to_s << '?view=diary&date=' << (@current_diary.date + 1).to_s, { :title => "En dag frem" }) do %>
						<i class="fui-arrow-right"></i>
					<% end %>
				</li>
			</ul>
		</div>

		<%= render "therapists/client/diary/current_diary" %>

	</div>
</div>