<div class="row">
	<div class="col-md-6">

		<h2>Skift dit kodeord</h2>
		
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
		  <%= devise_error_messages! %>

			<div class="form-group">
				<%= f.label :password, "Nyt kodeord" %>
				<%= f.password_field :password, :class => "form-control", :autofocus => true %>
			</div>

			<div class="form-group">
				<%= f.label :password_confirmation, "Bekræft kodeord" %>
				<%= f.password_field :password_confirmation, :class => "form-control" %>
			</div>

			<div class="form-actions">
				<%= f.submit "Skift kodeord", :class => "btn btn-lg btn-primary" %>
			  <%= link_to "Tilbage til Log ind", new_session_path(resource_name), :class => "btn btn-lnk pull-left" %>
			</div>

			<%= f.hidden_field :reset_password_token %>
		<% end %>
		
	</div>
</div>