<% if therapist_signed_in? %>

  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <%= link_to('StressMind', therapists_index_path, :class=>'navbar-brand') %>
      
      <ul class="nav navbar-nav navbar-right">
        <%= nav_link('Oversigt', therapists_index_path) %>
        <%= nav_link('Klienter', therapists_clients_path) %>
        <!--%= nav_link('Appointment', therapists_appointments_path) %-->

				<li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
			      <span class="glyphicon glyphicon-user"></span> Min profil <b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
						<%= nav_link('Opdater profil', edit_therapist_registration_path) %>
						<li><%= link_to('Log ud', destroy_therapist_session_path, :method=>:delete) %></li>
			    </ul>
			  </li>
      </ul>
    </div>
  </div>

<% else %>
  
  <div class="navbar navbar-inverse">
    <div class="container">
    	<%= link_to('StressMind', root_path, :class=>'navbar-brand') %></li>
      <ul class="nav navbar-nav pull-right">
        <%= nav_link('Log ind', new_therapist_session_path) %>
      </ul>
    </div>
  </div>

<% end %>